{% extends 'index.html' %}
{% block title %}About Us - ApptiMock{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5 text-primary fw-bold">About Us</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <section class="card shadow-sm p-4 mb-4 border-0">
            <h2 class="text-center text-success fw-semibold">Welcome to ApptiMock</h2>
            <p class="text-muted text-justify">
                ApptiMock is an exciting web app that brings you the latest and hottest quiz topics in the world of 
                technology. Sign up now to challenge your knowledge, learn new things, and have fun with our engaging quizzes.
            </p>
        </section>

        <section class="card shadow-sm p-4 border-0">
            <h2 class="text-center text-info fw-semibold">How It Works</h2>
            <p class="text-muted">
                ApptiMock offers a simple and intuitive user interface that allows you to:
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success"></i> Sign up and create your personalized account.</li>
                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success"></i> Choose from a variety of trending quiz topics in the technology domain.</li>
                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success"></i> Participate in time-limited quizzes and answer questions to rank yourself on ApptiMock.</li>
                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success"></i> Track your progress and compete with other tech enthusiasts on the leaderboard.</li>
            </ul>
        </section>
    </div>
</main>

{% endblock content %}
